<div class="container-fluid">
    <div class="container">
        <div class="landing-nav">
            <span class="fa fa-search fa-2x"></span>
            <span class="fa fa-bars fa-2x landing-nav-right"></span>
        </div>
        <div class="landing-header max-size">
            <img src="img/makris-logo-ent2.png" />
            <h2>unique affordable art</h2>
        </div>
    </div>
</div>
<div class="container landing-content" style="margin-top:60px;">
	<div class="row form-group">
        <div ng-repeat="i in imageList" class="col-xs-12 col-md-6 max-size">
            <div class="panel panel-default">
                <div class="panel-image hide-panel-body pointer">
                    <a href="#/artist/{{ i.artist }}"><img src="{{i.url}}" class="panel-image-preview pointer"  /></a>
                </div>
                
                <div ng-show="showInfos" class="panel-body">
                    <h4>{{ i.name }}</h4>
                </div>
                <div class="panel-footer text-center">
                    <a href="#download">{{ i.price }} $</a>
                    <a style="color: red;" ng-show="i.availability == 0">sold</a>
                    <a href="#facebook"><span class="fa fa-facebook"></span></a>
                    <a class="pointer" style="color: red;" ng-show="i.love"><span class="fa fa-heart"></span></a>
                    <a class="pointer" ng-show="!i.love" ng-click="i.love = !i.love; addWishlist(i)"><span class="fa fa-heart"></span></a>
                    <a class="pointer" ng-click="showInfos = !showInfos"><span class="fa fa-info"></span></a>
                </div>
            </div>
        </div>
	</div>
</div>


<div id="imagePreview" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">{{ curri.name }}</h4>
      </div>
      <div class="modal-body">
        <img src="{{ curri.url }}" class="max-size" />
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>