<div class="row form-group" style="margin-top: 60px;">
    <div ng-repeat="i in wishlist" class="col-xs-12 col-md-6 max-size">
        <div class="panel panel-default">
            <div class="panel-image hide-panel-body pointer" ng-click="showPreview(i)">
                <img src="{{i.url}}" class="panel-image-preview pointer" ng-click="showPreview(i)" />
                <label ></label>
            </div>

            <div ng-show="showInfos" class="panel-body">
                <h4>{{ i.name }}</h4>
            </div>
            <div class="panel-footer text-center">
                <a href="#download">{{ i.price }} $</a>
                <a style="color: red;" ng-show="i.availability == 0">sold</a>
                <a href="#facebook"><span class="fa fa-facebook"></span></a>
                <a class="pointer" ng-click="addWishlist(i)"><span class="fa fa-heart"></span></a>
                <a ng-click="showInfos = !showInfos"><span class="fa fa-info"></span></a>

            </div>
        </div>
    </div>
</div>
<div id="imagePreview" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">{{ curri.name }}</h4>
      </div>
      <div class="modal-body">
        <img src="{{ curri.src }}" class="max-size" />
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>

