<toast></toast>
<div class="container">
    <div class="col-md-12">
        <div id="logbox">
          <form id="signup">
            <h1>{{ lang.signin }}</h1>
            <input name="user[email]" ng-model="lud.email" type="email" placeholder="{{ lang.askemail }}" class="input pass"/>
            <input name="user[password]" ng-model="lud.password" type="password" placeholder="{{ lang.password }}" required="required" class="input pass"/>
            <input type="button" ng-click="login(lud)" value="Sign in!" class="btn btn-xxl btn-success"/>
            <div class="text-center">
                {{ lang.askforaccount }}<a href="#" id="login_id">{{ lang.signup }}</a>
            </div>
          </form>
        </div>
    </div>
        <!--col-md-6-->
</div>