<div ng-controller="headerController">
<nav class="navbar navbar-default navbar-fixed-top landing-nav">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">{{ lang.title }}</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
      </ul>
      <ul class="nav navbar-nav navbar-right white">
        <li><a ng-click="ifilter = !ifilter"><i class="fa fa-filter pointer" aria-hidden="true" data-toggle="tooltip" data-placement="bottom" title="filter current data"></i></a></li>
        <li><a ng-show="user._id" href="#/artist/{{ user._id }}"><i class="fa fa-user" aria-hidden="true" data-toggle="tooltip" data-placement="bottom" title="go to my profile"></i></a></li>
        <li><a ng-show="user._id" ng-click="logout()"><i class="fa fa-sign-out" aria-hidden="true" data-toggle="tooltip" data-placement="bottom" title="sign out from makris"></i></a></li>
        <li><a><i class="fa fa-comment" ng-click="showContact()" aria-hidden="true" data-toggle="tooltip" data-placement="bottom" title="send feedback to makris"></i></a></li>
        <li><a href="#/wishlist"><i class="fa fa-heart" data-toggle="tooltip" data-placement="bottom" 
                                    title="go to wishlist" aria-hidden="true"></i></a></li>
        <li><a ng-show="user.admin" href="#/admin">{{ lang.admin }}</a></li>
        <li><a ng-show="!user._id" href="#/signin">{{ lang.signin }}</a></li>
        <li><a ng-show="!user._id" href="#/signup">{{ lang.signup }}</a></li>
        <li class="dropdown">
          <a class="dropdown-toggle pointer" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-globe" aria-hidden="true"></i><span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li ng-repeat="l in langs"><a ng-click="setLang(l.locale)">{{ l.name }}</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
    <div class="image-filter" ng-show="ifilter">
        <div class="row">
            <div ng-repeat="(key, value) in filters | groupBy: 'type'" class="col-xs-1">
                <div ng-repeat="f in value" ng-click="addToFilter(f)" class="filter-tag filter-{{ key }}">
                    {{ f.name }}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 filter-list">
                <div ng-repeat="cf in currFilter" style="width: 10%;" 
                     class="filter-tag filter-{{ cf.type }} filter-item" ng-click="removefromfilter(cf)">
                    {{ cf.name }}
                </div>
            </div>
        </div>
    </div>
  </div><!-- /.container-fluid -->
</nav>


        <div class="modal fade" id="contact" tabindex="-1" role="dialog" aria-labelledby="contactLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h4 class="panel-title" id="contactLabel"><span class="glyphicon glyphicon-info-sign"></span> Any questions? Feel free to contact us.</h4>
                    </div>
                    <form>
                        <div class="modal-body" style="padding: 5px;">
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12" style="padding-bottom: 10px;">
                                    <input ng-model="ct.from" ng-show="!user._id" class="form-control" 
                                           name="email" placeholder="E-mail" type="text"/>
                                    <h6 ng-show="user._id">from: {{ user.email }}</h6>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <textarea style="resize:vertical;" 
                                              class="form-control" ng-model="ct.message"
                                              placeholder="Message..." rows="6" name="comment" required>
                                    </textarea>
                                </div>
                            </div>
                        </div>  
                        <div class="panel-footer" style="margin-bottom:-14px;">
                            <button type="button" ng-click="sendFeedback()" class="btn btn-success">
                                {{ lang.send }}
                            </button>
                                <!--<span class="glyphicon glyphicon-ok"></span>-->
                                <!--<span class="glyphicon glyphicon-remove"></span>-->
                            <button style="float: right;" type="button" 
                                    class="btn btn-default btn-close" data-dismiss="modal">Close
                            </button>
                        </div>
                    </form>
                    </div>
                </div>
            </div>
        </div>
